<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">-->
    <link rel="stylesheet" href="/static/css/index.css">
    <script rel="script" src="/static/js/jquery-3.6.0.min.js"></script>


    <title>test</title>
</head>
<body>
    <div id="test">jQuery 테스트</div>



    <!-- JQuery 사용자 지정 스크립트 -->
<script rel="script" src="/static/js/script.js"></script>
</body>
</html>
